* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-div {
    font-size: 50px;
    text-align: center;
    font-family: sans-serif;   
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-div__button {
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
}

.new-post__container {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.new-post__container__textarea {
    height: 80px;
    width: 600px;
    resize: none;
}

.new-post__container__button {
    padding: 10px;
    cursor: pointer;
}


.posts {
    margin-top: 20px;
}

.posts__post {
    border: 2px solid red;
    padding: 10px;
    width: 900px;
    position: relative;
    margin-bottom: 10px;
}

.posts__post p {
    font-size: 19px;
    margin-bottom: 40px;
}

.posts__post h6 {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 22px;
    margin: 0 10px 10px 0;
}

.button-google {
    width: 250px;
    cursor: pointer;
}